* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background-color: rgb(20, 103, 204);
    color: antiquewhite;
    padding: 10px;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

header .logo img{
    max-width: 150px;
    box-shadow: 10rem;
    padding: 10px;
    display:grid
  }

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero img {
    width: 100%;
    height: auto;
    opacity: 0.8;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
}

.newsletter {
    text-align: center;
    padding: 20px;
}

.newsletter form {
    margin: 20px 0;
}

.newsletter input[type="email"] {
    padding: 10px;
    width: 200px;
}

.newsletter button {
    padding: 10px 15px;
    background: #1c8cdc;
    color: #fff;
    border: none;
    cursor: pointer;
}

.newsletter button:hover {
    background: #2697ed;
}

.cta {
    text-align: center;
    margin: 20px 0;
}

.cta .btn {
    padding: 10px 15px;
    background: #0066cc;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.cta .btn:hover {
    background: #3198ec;
}

.trips {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.trips article {
    background: #f2f0f0;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.trips h1 {
    text-align: center;
    margin: 20px 0;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #2884ee;
    color: #fff;
}
