:root {
    --primary-color: #FFA07A;
    /* Example color */
    --secondary-color: #20B2AA;
    /* Example color */
    --font-family: 'YourFontChoice', sans-serif;
}

body {
    font-family: var(--font-family);
    margin: 0;
}

header {
    background: var(--primary-color);
    padding: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 1em;
}

nav a:hover {
    text-decoration: underline;
}

s .Echo-G0033489- {
    position: relative;
    width: 100%;
}

section {
    display: block;
    width: 100%;
    height: auto
}


image {
    display: block;
    width: 100%;
    height: auto
}

h1 {
    position: absolute;
    top: 20%;
    left: 5%;
    color: white;
}


article {
    position: absolute;
    top: 40%;
    left: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.5em;
}

footer {
    background: var(--secondary-color);
    text-align: center;
    padding: 1em;
}